@use "@styles/globals.module.scss";

.planEditor {
    border: solid 2px var(--brandBorder);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    .updateButtons {
        text-align: right;
        margin-bottom: var(--padding);
    }
    :global(.label) {
        margin-top: var(--paddingSmall);
    }
}