@use "@styles/globals.module.scss";
 
.subscribedAlert { 
    max-width: 512px; 
    margin: globals.$padding auto; 
    text-align: center; 
} 
 
.subscriptionOptions { 
    @include globals.infoBlock; 
    h2 { 
        text-align: center; 
        margin: 32px auto; 
        font-size: 48px; 
    } 
     
    div.optionList { 
        margin-bottom: 1rem; 
        display: flex; 
        align-items: flex-start; 
        @media (max-width: 730px) { 
            flex-wrap: wrap; 
        } 
        .subscriptionOption { 
            flex-grow: 1; 
            display: inline-block; 
            padding: globals.$padding; 
            text-align: center; 
            min-height: 380px; 
            @media (max-width: 730px) { 
                width: 100%; 
            } 
            .optionDetails { 
                border: solid 4px globals.$brand-border; 
                border-radius: globals.$border-radius-lg; 
                padding: globals.$padding; 
                margin-bottom: globals.$padding; 
                height: 128px; 
                &.selected { 
                    border: solid 4px globals.$brand-primary; 
                    background-color: globals.$brand-bg-light; 
                } 
                button { 
                    width: 100%; 
                } 
            } 
        } 
    } 
} 
 
.loginForm { 
    max-width: globals.$cms-width; 
    margin: auto; 
    padding: 128px; 
    h2 { 
        text-align: center; 
        margin-bottom: 64px; 
    } 
} 
